@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

html,
body {
    background: #EDF2FB;
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
}

#root {
    width: 100%;
    height: 100%;
}

.App {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.error {
    border: 1px solid red !important;
}

.appContainer {
    margin-top: 1%;
    display: flex;
    justify-content: space-evenly;
    background: #D7E3FC;
    border-radius: 20px;
    height: 75%;
    padding: 10px;
    border: 1.75px solid #B6CCFE;
}

.appContainer input {
    padding: 10px;
    background: #CCDBFD;
    border-radius: 20px;
    border: #355cbf 1px solid;
}

.inputs {
    display: flex;
    justify-content: space-evenly;
    flex-flow: column wrap;
    width: 25%;
    border-left: 1px solid #B6CCFE;
    padding: 10%;
    overflow: hidden;
}

.equation {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    position: relative;
    padding: 3px 0 2px 25px;
}

ul li::before {
    content: "❯";
    position: absolute;
    top: 1px;
    left: 5px;
}


:focus {
    outline-color: transparent;
    outline-style: none;
}

.calculateButton {
    min-width: 100%;
    border-radius: 20px;
    border: none;
    padding: 10px;
    background-color: #ABC4FF;
    border: 1px solid #89a2dd;
    transition: 0.1s;
    box-sizing: border-box;
}

.calculateButton:hover {
    background-color: #9ab3ee;
    cursor: pointer;
}

.list-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
}

.equation img {
    max-width: 75%;
    max-height: 35%;
    width: 100%;
    height: 100%;
}

.input-container {
    position: relative;
    min-height: 4vh;
}

.input-container label {
    position: absolute;
    top: 0px;
    line-height: 4.5vh;
    left: 15px;
    font-size: 85%;
    color: rgb(28, 34, 59);
    transition: all 0.5s ease-in-out;
    pointer-events: none;
}

.input-container input {
    min-width: 100%;
    box-sizing: border-box;
    height: 4.5vh;
}

.input-container input:focus {
    border: none;
    outline: none;
    border: 2px solid #355cbf;
}

.input-container:focus-within,
.marg-top-1 {
    margin-top: 1.3vh;
}

.input-container input:focus~label,
.input-container input:valid~label {
    top: -3.3vh;
    font-size: 12px;
}

.first {
    margin-top: 0 !important;
}